doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title P&B
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      body {
      min-width:768px;
      font-family:roboto-thin;
      }
      .navbar-nav {
       float: right;
      }
      h1{
        font-family:roboto-thin;
        color:white;
      }
      h2{
        font-family:roboto-thin;
      }
      h3{
        font-family:roboto-thin;
        color:white;
      }
      h4{
        font-family:roboto-thin;
      }
      h5{
        font-family:roboto-thin;
      }
      h6{
        font-family:roboto-thin;
      }
      btn {
        font-family:roboto-thin;
      }
      #showLeft:hover {
       color:white !important;
      }
      .cbp-spmenu {
        background: #1d1d1d;
        position: fixed;
      }
      
      .cbp-spmenu h3 {
        color: skyblue;
        font-size: 1.9em;
        padding: 20px;
        padding-top:27px;
        margin: 0;
        font-weight: 300;
      }
      
      .cbp-spmenu a {
        display: block;
        color: white;
        font-size: 1.1em;
        font-weight: 300;
      }
      
      .cbp-spmenu a:hover {
        background: #333;
        text-decoration:none !important;
      }
      
      .cbp-spmenu a:active {
        background: #afdefa;
        color: #47a3da;
      }
      .cbp-spmenu-vertical {
        width: 240px;
        margin-left:74px;
        border-left:1px solid #333;
        height: 100%;
        top: 0;
        z-index: 1000;
      }
      
      .cbp-spmenu-vertical a {
        padding: 1em;
      }
      .cbp-spmenu-left {
        left: -240px;
      }
      .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
      }
      .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
      }
      
      .cbp-spmenu-push-toright {
        left: 240px;
      }
      
      .cbp-spmenu-push-toleft {
        left: -240px;
      }
      .cbp-spmenu,
      .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .container {
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      .navbar-right {
        float: none !important; 
      }
      .navbar-form {
        padding-top: 6 !important;
      }
      input[type="text"], textarea {
      outline: none;
      box-shadow:none !important;
      }
      .datecl {
        color:#333;
      }
      .yet{
       color:white;
      }
      .alreadyb{
      color:rgba(0, 0, 0, 0.27);
      }
      .alreadym{
      color:rgba(255, 255, 255, 0.21);
      }
      .leftPaddingExtended{
        padding-left:30px;
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:0px !important;
          -webkit-appearance:none;
      }
      .bckgrnd {
      width:100%;
      height:100%;
      background-image:url('/bootstrap/images/books.jpg');
      position:fixed;
      background-color:#A1D0C0;
      background-position:center;
      background-size: cover;
      background-repeat:no-repeat;
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
      -moz-filter: brightness(0.6);
      -o-filter: brightness(0.6);
      transition: 0.5s -webkit-filter linear;
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      nav ul li a {
        border:0px !important;
        background-color:rgba(255, 255, 255, 0.26) !important;
        color:white !important;
      }
  body
    script.
      if(screen.width < 414){
      window.location='http://m.peopleandbooks.com/';
      }
    nav(class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1")
      //h3(style='text-align:center;color:orange;') People & Books
      //img(class="media-object img-circle" src="/images/pblogov4.png" style='margin-top:20px;margin-bottom:20px;margin-left:auto;margin-right:auto;width:64px;height:64px;' alt="...")
      //form(class="navbar-form navbar-right" method='post' action='/srch' id='srch' role="search")
      //  .input-group
      //     input(type="text" class="form-control" name='searchfield' id='searchfield' style='background-color:#333;color:white;border-color:#333;border-top-left-radius:30px;border-bottom-left-radius:30px;') 
      //     span(class='input-group-btn')
      //       button(class="btn btn-default" type="submit" id='searchbutton' style='padding-top:9px;padding-bottom:9px;background-color:#333;color:gray;border-color:#333;border-top-right-radius:30px;border-bottom-right-radius:30px;')
      //         span(class='glyphicon glyphicon-search') 
      a( style='margin-top:20px;' href='/about') О проекте
    .sidebar(style='width:74px;position:fixed;height:100%;background-color:#1d1d1d;text-align:center;z-index:2000;')
      //img(class="media-object img-circle" src="/images/pblogov4.png" style='margin-left:5px;margin-top:30px;width:64px;height:64px;' alt="...")
      span(class='glyphicon glyphicon-align-justify' id='showLeft' style='color:#333;font-size:30px;margin-top:20px;')
    .bckgrnd
    .container(style='padding-left:84px;z-index:2;')  
      .row(style='text-align:center;margin-top:15%;margin-bottom:20px;')
        .col-xs-12
          h1(style='font-size:50px;') Organize your reading. 
          h3 Never forget a book.
      .row
        #message.col-xs-12
      .row(style='text-align:center;')
        .col-xs-4.col-xs-offset-4
          input(class='form-control' type='email' style='margin-bottom:5px;' id='mail' name='mail' placeholder='email')
          input(class='form-control' type='password' style='margin-bottom:5px;' id='p' name='p' placeholder='password')
          input(class='form-control' type='password' style='margin-bottom:20px;display:none;' id='pc' name='pc' placeholder='password confirmation')
          #wrap(style='width:100%;margin-top:15px;')
            button(class='btn btn-primary' type='button' id='shownav' style='position:absolute;margin-left:-60;left:50%;z-index:2;border-radius:30px;background-color:rgba(255, 255, 255, 0.26);border:0px;') Log in / Register
            nav(id='nav' style='z-index:1;display:none;')
              ul(class="pager")
                li(class='previous')
                  a( id='login' style='cursor:pointer;') Войти
                li(class='next')
                  a(id='regbutton' style='cursor:pointer;') Регистрация

      
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(async src='/js/bootstrap.min.js')
      script.
        $('#shownav').click(function(){
          $('#shownav').fadeOut();
          $('#nav').fadeIn();
          });
        $('#login').click(authsubmit);
        var counter =0;
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            showLeft = document.getElementById( 'showLeft' ),
            showRight = document.getElementById( 'showRight' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            body = document.body;
        
        showLeft.onclick = function() {
          switch(counter)
            {case(1):
                         counter=0;
                         $('#showLeft').removeClass('active' );
                         $('#cbp-spmenu-s1').removeClass('cbp-spmenu-open' );
                         $('.container').css('-webkit-filter','brightness(1)');
                         $('.bckgrnd').css('-webkit-filter','brightness(0.6)');
                        break;
                        case(0):
                          counter=1;
                          $('#showLeft').addClass('active' );
                          $('#cbp-spmenu-s1').addClass('cbp-spmenu-open' );
                          $('.container').css('-webkit-filter','brightness(0.6)');
                          $('.bckgrnd').css('-webkit-filter','brightness(0.3)');
                        break;
                      }
        };
        //-------REGISTER--------
          function validateEmail(email) { 
        console.log('checking email');
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);} 
        // AUTHSUBMIT FUNCTION
        var allowauth = 1;
        function authsubmit() {
        allowauth = 0;
        var vlgn = $('#mail').val();
        var vphr = $('#p').val();
        console.log(vlgn +" , "+vphr);
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var index;
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        console.log('TROUBLE === 1');
        switch (parsed.mtext){
        case('db'):
        $('#message').empty();
        $('#message').append("<h5 style='color:#fc454e;'>Sorry, omething is slightly off with the DB, try again in a couple of minutes or contact support</h5>");
        allowauth = 1;
        break;
        case('wrong pas'):
        $('#message').empty();
        $('#message').append("<h5 style='color:#fc454e;'>Wrong password</h5>");
        allowauth = 1;
        break;
        case('wronguser'):
        $('#message').empty();
        $('#message').append("<h5 style='color:#fc454e;'>Wrong email</h5>");
        allowauth =1;
        break;
        }}
        else {
        window.location = 'http://peopleandbooks.com';
        }
        }
        };
        request.open('POST', '/check', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        request.send("phr="+vphr+"&lgn="+vlgn);
        }
        //END OF AUTHSUBMIT FUNCTION
        // RUNREGISTER FUNCTION
        function runregister() {
         var errcount =0;
        var vp = $('#p').val();
        var vpc = $('#pc').val();
        $('#message').empty();
        console.log(vp.length);
        if(vpc.length === 0 && vp.length === 0) {
        console.log('pass length 0');
        //$('#message').append("<h5 style='color:#fc454e;'>Provide a password, and verify it</h5>");
        alert('Provide a password, and verify it');
        $('#p').empty();
        $('#pc').empty();
        errcount++;
        }
        if(vp != vpc && errcount===0) {
        //$('#message').append("<h5 style='color:#fc454e;'>passwords don't match</h5>");
        alert("Passwords don't match");
        $('#p').empty();
        $('#pc').empty();
        errcount++;
        }
        
        var vmail = $('#mail').val();
        console.log(vmail);
        var mailx = validateEmail(vmail);
        if(mailx != true)
        {
        //$('#message').append("<h5 style='color:#fc454e;'>incorrect email</h5>");
        alert('Incorrect email');
        errcount++;
        }
        if(errcount!=0) {
          return;
        }
        console.log('submitting now');
        //$("#regform").submit();
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        // do your job here
        if (parsed.trouble === 1)
        {
        $('#message').empty();
        switch (parsed.mtext)
        {
        case('fail'):
        $('#message').append("<h5 style='color:#fc454e;'>Sorry, omething is slightly off with the DB, try again in a couple of minutes or contact support</h5>");
        break;
        case('email exists'):
        $('#message').append("<h5 style='color:#fc454e;'>Provided email is already used by one of the users</h5>");
        break;
        
        }
        }
        else { console.log('HEY');window.location = 'http://peopleandbooks.com';}
        }
        };
        request.open('POST', '/newuser', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // Most libraries like jQuery/Prototype/Dojo do this
        request.send("mail="+vmail+"&p="+vp);
          }
          //END OF RUNREGISTER FUNCTION
          var regbuttoncount=0;
          $('#regbutton').click(function(){
            if(regbuttoncount===0){
             $('#pc').slideToggle();
             regbuttoncount++;
             console.log('first regbuttoncount: '+regbuttoncount);
            }
            else{
              runregister();
            }
            });

        
      